body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #115579;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
}

#team, #project {
    padding: 20px;
}

.team-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.team-member {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

#project {
    background-color: #f9f9f9;
    border-radius: 0 0 10px 10px;
}
